<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Title</title>
	<style>
		.tbnota {
			width: 100%;
			font-family: verdana, arial, sans-serif;
			font-size: 9px;
			border: 1px solid black;
			border-collapse: collapse;
		}

		.tblg {
			font-size: 9px;
		}

		.lglt {
			width: 12px;
			font-weight: bold
		}

		.mtr {
			font-size: 11px;
			font-weight: bold;
			background-color: #909090;
			border-bottom: black
		}

		.negra {
			font-weight: bold;
		}

		.centro {
			text-align: center
		}

		.tbhs {
			font-size: 9px;
			border-collapse: collapse;
		}

		.hsnt {
			width: 24px;
			text-align: center;
			font-weight: bold
		}

		.hsfl {
			width: 14px;
			text-align: center;
		}

		.hscm {
			width: 42px;
			text-align: center;
			font-weight: bold
		}

		.bajo {
			color: red;
		}

		.profe {
			font-size: 7px;
			text-align: right
		}

		.borde {
			border: 1px solid black;
		}

		.sep {
			border-top: 1px solid black;
		}

		.sepd {
			border-right: 1px solid black;
		}

		#sctd1.once {
			color: red;
		}

		.iniNotaUno {
			page-break-inside: avoid;
		}


	</style>
</head>
<body>

<table width='100%' border='0'>
	<tbody>

	<tr>
		<td>
			<table class='tbnota'>
				<tbody>
				<tr>
					<td colspan='6'>

						<table style='width:100%' id='superCol1' class='once undecimoa'>
							<tbody>
							<tr>
								<td style='font-size:9px' id='sctd1' class='once undecimoa'>Juicios de Valoración: F:
									Fortaleza, D: Debilidad, R: Recomendación
								</td>
								<td style='font-size:9px' id='sctd2' class='once undecimoa' align='right'><span
										id='HPprom'><b>Promedio:</b>3.12 -</span>
									<span id='HPpuesto'><b>Puesto:</b>7 -  </span>
									<span id='HPgrado'><b>Grado:</b>ONCE - </span>
									<span id='HPsalon'><b>Salón:</b>UNDECIMO-A</span>
									<span id='HPsede'><b>Sede:</b>CENTRAL</span>
									<span id='HPnlista'><b>Cod:</b>2</span></td>
							</tr>
							</tbody>
						</table>

					</td>
				</tr>

				<tr>
					<td style='width:45%' class='lbmtr sepd sep centro negra'>MATERIA</td>
					<td style='width:5%' class='sepd sep centro negra'>IH</td>
					<td style='width:34%' class='sep' align='right'>

						<table class='tbhs undecimoa' style='width:100%;'>
							<tbody>
							<tr>
								<td colspan='9' class='sepd negra centro' align='center'>HISTORICO</td>
							</tr>
							<tr>
								<td class='hsnt borde'>N</td>
								<td class='hsfl borde'>F</td>
								<td class='hsnt borde'>N</td>
								<td class='hsfl borde'>F</td>
								<td class='hsnt borde'>N</td>
								<td class='hsfl borde'>F</td>
								<td class='hsnt borde'>N</td>
								<td class='hsfl borde'>F</td>
								<td class='hscm hsprom borde negra'>prom</td>
							</tr>
							</tbody>
						</table>

					</td>
					<td style='width:16%' colspan='3' class='sep'>

						<table class='tbhs' width='100%'>
							<tbody>
							<tr>
								<td colspan='2' class='negra centro' align='center'>NOTA PERIODO</td>
							</tr>
							<tr>
								<td class='borde negra centro' style='width:12%'>desempeño</td>
								<td class='borde negra centro' style='width:4%'>fallas</td>
							</tr>
							</tbody>
						</table>

					</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				</tbody>


				<tbody class='iniNotaUno'>

				<tr class=''>
					<td style='width:45%' class='mtr sep'>Comportamiento</td>
					<td style='width:5%' class='sep'>0</td>
					<td style='width:34%' class='sep' align='right'>
						<table class='tbhs' style='width:100%;-webkit-print-color-adjust:exact;'>
							<tbody>
							<tr>
								<td class='hsnt hsnt-1 borde'>4.4</td>
								<td class='hsfl hsfl-1 borde'></td>
								<td class='hsnt hsnt-2 borde'>3.0</td>
								<td class='hsfl hsfl-2 borde'></td>
								<td class='hsnt hsnt-3 borde'>3.0</td>
								<td class='hsfl hsfl-3 borde'></td>
								<td class='hsnt hsnt-4 borde'>3.3</td>
								<td class='hsfl hsfl-4 borde'></td>
								<td class='hscm hsprom borde'>3.3</td>
							</tr>
							</tbody>
						</table>
					</td>
					<td style='width:8%' class='txf aceptable negra centro sep borde'>ACEPTABLE</td>
					<td style='width:4%' class='ntf aceptable sep negra centro borde'>3.3</td>
					<td style='width:4%' class='flf sep centro borde'></td>
				</tr>

				<tr>
					<td class='loslogros' colspan='6'></td>
				</tr>

				<tr>
					<td colspan='3'>
						<table class='tblg'>
							<tbody>
							<tr>
								<td class='lglt'>F</td>
								<td class='lglg'>Desarrolla procesos con operaciones básicas</td>
							</tr>

							</tbody>
						</table>
					</td>
					<td colspan='3'>
						<center>
							<table class='graph-tb' style='font-size:10px;border-collapse:collapse;'>
								<tbody>
								<tr>
									<td class='graphGR'
										style='background-color:#e0e0e0;height:40px;border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'
										valign='bottom'><span
											style='height:44px;background-color:#606060;display:block;-webkit-print-color-adjust:exact;'>&nbsp;</span>
									</td>
									<td class='graphGR'
										style='background-color:#e0e0e0;height:40px;border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'
										valign='bottom'><span
											style='height:30px;background-color:#606060;display:block;-webkit-print-color-adjust:exact;'>&nbsp;</span>
									</td>
									<td class='graphGR'
										style='background-color:#e0e0e0;height:40px;border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'
										valign='bottom'><span
											style='height:30px;background-color:#606060;display:block;-webkit-print-color-adjust:exact;'>&nbsp;</span>
									</td>
									<td class='graphGR'
										style='background-color:#e0e0e0;height:40px;border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'
										valign='bottom'><span
											style='height:33px;background-color:#606060;display:block;-webkit-print-color-adjust:exact;'>&nbsp;</span>
									</td>
									<td class='graphGR'
										style='background-color:white;height:40px;border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'
										valign='bottom'><span
											style='height:33px;background-color:#606060;display:block;-webkit-print-color-adjust:exact;'>&nbsp;</span>
									</td>
								</tr>
								<tr>
									<td class='graphNT'
										style='border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'>4.4
									</td>
									<td class='graphNT'
										style='border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'>3.0
									</td>
									<td class='graphNT'
										style='border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'>3.0
									</td>
									<td class='graphNT'
										style='border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'>3.3
									</td>
									<td class='graphNT'
										style='border:1px solid #b0b0b0;-webkit-print-color-adjust:exact;'><b>3.3</b>
									</td>
								</tr>
								</tbody>
							</table>
						</center>
					</td>
				</tr>

				<tr>
					<td colspan='6'></td>
				</tr>

				<tr>
					<td colspan='2'></td>
					<td colspan='4' class='profe'>
						<span style='float:left;font-size:10px;'>
							<span class='hrsdic'></span>
						</span> Cristian Ramirez
					</td>
				</tr>

				</tbody>


			</table> <!-- Tablenote -->
		</td>
	</tr>

	</tbody>
</table>

</body>
</html>